div{
    background-color: rgb(230, 126, 23);
    /* width: fit-content; */
}
h3{
    /* border: 2px solid wheat; */
    /* border-radius: 2px; */
    /* width: fit-content; */
    /* text-align: center; */
    
}
.separet{
    border: 5px solid white;
width: fit-content;
background-color: aliceblue;

}

ol{
    /* border: 5px solid white; */
    /* border-radius: 3px; */
}
.list{
    border: 4.90px solid white;
    border-radius: 3px;
}